header {
    background-color: #007bff;
    color: white;
    padding: 20px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

.content {
    margin-top: 80px; /* Ajusta este valor según la altura del encabezado */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 80px); /* Resta la altura del encabezado */
    padding: 20px;
}

h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

fieldset {
    border: none;
}

legend {
    font-size: 24px;
    color: #333;
}

label {
    display: block;
    margin-top: 10px;
    color: #666;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box; /* Asegura que padding y border no aumenten el ancho */
}

button {
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

button[type="button"] {
    background-color: #6c757d;
}

button[type="button"]:hover {
    background-color: #545b62;
}
