
body, .menu-lateral {
    background-color: #e7f0fa; /* Color de fondo azul claro para la página */
  }
  
  .rounded-box {
      border-radius: 15px;
      background-color: white;
      padding: 20px;
      margin-top: 20px;
      margin-bottom: 20px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  }
  
  .menu-seccion {
    list-style-type: none;
    padding: 0;
  }
  

  .submenu-seccion {
    list-style-type: none;
    padding: 10;
  }

  .submenu-seccion li a {
    font-size: 16px;
  }
  
  .menu-seccion li, .fas {
    padding: 10px 0;
    margin-right: 10px;
    font-size: 20px; /* Ajuste para mejor visualización */
  }

  .formulario-seccion {
    margin-bottom: 15px; /* Reducción para evitar scroll */
  }
  
  .formulario-seccion label, .formulario-seccion input, .btn {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 16px; /* Reducción para adaptabilidad */
    color: #495057;
  }
  
  .btn {
    margin-top: 20px; /* Ajuste de margen */
    padding: 10px 20px;
    font-size: 16px; /* Reducción para consistencia */
  }
  
  .tituloEmpleados {
    margin-bottom: 20px; 
  }
  
  .primerMenu {
    margin-top: 30px; /* Ajuste de margen superior */
    font-size: 18px; /* Ajuste de tamaño de fuente */
  }

  
  .btn-accept{
    background-color: #0b5394;
    color: white;
  }

  .btn-modify {
    background-color: #7bb5cf;;
    color: white;
  }

  .btn-delete {
    background-color: #ff0000;
    color: white;
  }
  
  .btn-cancel {
    background-color: white;
    color: grey;
    border-color: grey;
  }
  
  .img-logo {
    max-width: 80px; 
  }
  
  .recuadroInfo, .alert {
    margin-top: 20px; /* Ajuste de margen */
    background-color: white; 
  }
  
  .ayuda-info {
    font-weight: bold; 
    color: #0b5394;
  }
  
  /* Media Queries para Tablet y PC */
  @media (min-width: 768px) {
    .menu-lateral {
      width: 25%; /* Ajuste de ancho para tablet */
    }
    
    .col-md-10 {
      width: 75%; /* Ajuste de ancho del contenido principal para tablet */
    }
    
    .form-row .col {
      flex: 1; /* Flexibilidad para elementos del formulario */
      margin-right: 15px; /* Espaciado entre elementos */
    }
    
    .btn {
      padding: 10px 5%; /* Ajuste de padding para botones */
    }
  }
  
  @media (min-width: 992px) {
    .menu-lateral {
      width: 20%; /* Ajuste de ancho para PC */
    }
    
    .col-md-10 {
      width: 80%; /* Ajuste de ancho del contenido principal para PC */
    }
    
    .formulario-seccion label, .formulario-seccion input, .formulario-seccion select, .btn {
      font-size: 18px; /* Aumento de tamaño de fuente para mejor legibilidad */
    }
    
    .btn {
      padding: 10px 50px; /* Ajuste de padding para botones */
    }
    
    .img-logo {
      max-width: 100px; /* Ajuste de tamaño para logo */
    }
  }
  
  /* Ajustes de layout para evitar scroll */
  body, html, .container-fluid, .row, .menu-lateral, .col-md-10 {
    height: 100vh; /* Altura completa de la ventana */
    overflow: hidden; /* Evitar scroll */
  }
  
  /* Asegurarse de que el contenido interno sea scrollable si es necesario */
  .menu-lateral, .col-md-10 {
    overflow-y: auto;
  }

/* Asegurando que los botones estén uno al lado del otro */
.btn {
    display: inline-block; /* Hace que los botones se muestren en línea */
    margin-right: 10px; /* Espacio entre los botones */
}

/* Ajuste para el último botón para evitar espacio extra a la derecha */
.btn:last-child {
    margin-right: 0; /* Elimina el margen derecho del último botón */
}

/* Media Query específica para tabletas */
@media (min-width: 768px) and (max-width: 1024px) {
    .rounded-box {
        padding: 10px; /* Reduce el padding para disminuir el tamaño del recuadro */
        margin: 10px auto; /* Reduce el margen superior e inferior, y centra el recuadro horizontalmente */
        max-height: 80vh; /* Opcional: ajusta la altura máxima para evitar el desplazamiento vertical */
        overflow-y: auto; /* Permite el desplazamiento dentro del recuadro si es necesario */
    }

    /* Ajustes adicionales para elementos dentro del recuadro, si se requiere reducir más espacio */
    .formulario-seccion {
        margin-bottom: 10px; /* Reduce aún más el espacio entre secciones del formulario */
    }

    .btn {
        padding: 5px 10px; /* Reduce el padding de los botones para ahorrar espacio */
        font-size: 14px; /* Reduce el tamaño de fuente de los botones */
    }

    .formulario-seccion label, .formulario-seccion input, .formulario-seccion select {
        font-size: 14px; /* Reduce el tamaño de fuente para adaptarse mejor al espacio disponible */
    }

    .img-logo {
        max-width: 60px; /* Reduce el tamaño del logo para ahorrar espacio */
    }
}
/* Media Query para tabletas en orientación horizontal */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .rounded-box {
        padding: 10px; /* Reduce el padding para ahorrar espacio vertical */
        margin: 10px auto; /* Reduce el margen para asegurar que el recuadro se ajusta bien */
        max-height: 70vh; /* Ajusta la altura máxima para evitar el scroll vertical */
        overflow-y: auto; /* Permite el desplazamiento dentro del recuadro si es necesario */
    }

    .formulario-seccion {
        margin-bottom: 8px; /* Reduce los márgenes entre secciones del formulario */
    }

    .formulario-seccion label, .formulario-seccion input, .formulario-seccion select, .btn {
        font-size: 14px; /* Puede ser útil reducir el tamaño de fuente para ahorrar espacio */
    }

    .btn {
        padding: 5px 10px; /* Reduce el padding de los botones */
        margin-right: 5px; /* Ajusta el margen entre botones */
    }

    .img-logo {
        max-width: 50px; /* Considera reducir el tamaño del logo en esta orientación */
    }
}
/* Estilos base para .rounded-box ajustados para mayor flexibilidad */
.rounded-box {
    padding: 2vh; /* Usa un porcentaje de la altura del viewport para el padding */
    margin: 2vh auto; /* Usa un porcentaje de la altura del viewport para los márgenes verticalmente */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    overflow-y: auto; /* Permite scroll dentro del recuadro si es estrictamente necesario */
    max-height: 96vh; /* Ajusta la altura máxima como un porcentaje del viewport */
}

@media (min-width: 768px) {
    /* Ajustes para mejorar la visualización en dispositivos más anchos, como tablets en orientación horizontal */
    .rounded-box {
        max-width: 95%; /* Limita el ancho máximo para evitar que el recuadro sea demasiado ancho en pantallas grandes */
    }
}
/* Media Query para iPad Air en orientación horizontal */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .formulario-seccion label, .formulario-seccion input, .formulario-seccion select, .btn {
        font-size: 10px; /* Reduce el tamaño de la fuente para ahorrar espacio */
    }

    .formulario-seccion {
        margin-bottom: 8px; /* Reduce el margen entre secciones para ahorrar más espacio */
    }

    .btn {
        padding: 5px 10px; /* Reduce el padding de los botones */
        margin-right: 5px; /* Ajusta el margen derecho para los botones */
    }

}




/*

---------------------

LISTADO EMPLEADOS

---------------------


*/



.rounded-box {
  border-radius: 15px; /* Preserva los bordes redondeados */
  overflow: hidden; /* Oculta el desbordamiento para mantener visibles los bordes redondeados */
}

.rounded-box-inner {
  max-height: calc(100vh - 100px); /* Ajusta este valor según sea necesario */
  overflow-y: auto; /* Permite el desplazamiento dentro de este contenedor */
  padding: 20px; /* Asegura que el contenido no toque los bordes */
}


.input-group {
  display: flex;
  align-items: center; /* Esta propiedad ya asegura la alineación vertical, pero revisemos el padding y margin */
  justify-content: start; /* Alinea el input y el botón al inicio del contenedor */
  gap: 10px; /* Espacio entre el input y el botón */
  width: 100%; /* Asegura que el grupo de entrada utilice todo el ancho disponible */
}

.form-search {
  flex-grow: 1;
  max-width: 50%; /* Limita el ancho del input a la mitad del contenedor */
  margin: 0; /* Asegúrate de que no haya margen extra */
  padding: 0.375rem 0.75rem; /* Ajusta el relleno para igualarlo con el botón */
}

.btn-search {

  padding-left: 30px;
  padding-right: 30px;
  margin: 0; /* Elimina cualquier margen extra */
  align-self: stretch; /* Hace que el botón se estire para llenar el espacio disponible en su contenedor, si es necesario */
}

@media (max-width: 768px) {
  .input-group {
      flex-direction: column;
      gap: 5px; /* Reduce el espacio entre elementos para pantallas pequeñas */
  }

  .form-search, .btn-search {
      width: 100%; /* Permite que ambos elementos ocupen todo el ancho en dispositivos más pequeños */
      max-width: none; /* Remueve el límite de ancho en dispositivos más pequeños */
      margin: 0; /* Asegura que no haya margen extra en dispositivos más pequeños */
  }
}


.table-responsive {
  border-radius: 5px;
  overflow: hidden;
}
.table thead th {
  background-color: #f8f9fa;
  border-bottom: 2px solid #dee2e6;
}
.table tbody tr {
  transition: background-color 0.15s ease-in-out;
}
.table tbody tr:hover {
  background-color: #f2f2f2;
}

.table th, .table td, thead th {
  padding: 8px; /* Reduce el relleno para disminuir la altura de las filas */
  vertical-align: middle; /* Centra el contenido verticalmente */
  text-align: left; /* Alinea el texto a la izquierda, ajusta según necesites */
}

.sortable i {
  font-size: 0.8rem; /* Ajusta el tamaño de los íconos */
  color: #0d6efd; /* Color de los íconos */
  cursor: pointer; /* Cambia el cursor para indicar que son clicables */
}

/* Opcional: Ocultar uno de los íconos por defecto y cambiarlo con JavaScript al hacer clic */
.sortable .bi-arrow-up {
  display: none;
}

/* Estilos para la sección de paginación ajustados */
.pagination-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px; /* Espacio sobre la sección de paginación */
}

.pagination-section button {
  margin: 10 5px; /* Espacio reducido entre los botones y el número de página */
  cursor: pointer; /* Indica que los botones son clicables */
  font-size: 0.9rem; /* Tamaño de fuente más pequeño para los botones */
  border-radius: 5px; /* Bordes redondeados para un aspecto más suave */
  line-height: 2; /* Ajuste de la altura de línea para alinear el texto verticalmente */
}

.btn-left {
  border-color: #dee2e6;
  color: #ced4da;
  margin-right: 50px; /* Espacio adicional a la derecha del botón de página anterior */
}

.btn-right {
  border-color: #dee2e6;
  color: #ced4da;
  margin-left: 50px; /* Espacio adicional a la izquierda del botón de página siguiente */
}

.fa-arrow-right, .fa-arrow-left{
  padding: 5px;
  align-items: center;
}
 
.pagination-section span {
  font-size: 1rem; /* Tamaño de fuente ajustado para el número de página */
}

.btn-newUser{
  background-color: #0b5394;
  color: white;
}

.btn-search{
  background-color: #0b5394;
  color: white;
}

